body{
background: url(imagens/fundoStark.png) rgb(26, 26, 26);
background-size: 100%;
background-attachment: scroll;
 }
    
p{      display: grid;
        font-family: 'Luxurious Roman', cursive;
        color:#FFFF;
}
      
        .linha img {
        float: left;
    }
      
        .linha p {
        text-align: center;
        margin: 0;
        color: white;
        background-color: black;
        font-family: 'UnifrakturCook', cursive;
        font-size: 50px;
        }   
    
#titulo img {display: flex;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 0;
        float: right;
}
    
#titulo p {
        text-align: 12px;
        margin-right: 200;
        margin-bottom: 200;
        margin-top: 100;
        margin-left: 120px;
        color: #ffffff;
        font-size: 60px;
        }
    
#apresentacao img {
        float: right;
        margin-left: 40px;
        margin-right: 0;
        margin-bottom: 30px;
        margin-top: 0;
}
    
#apresentacao p {
        text-align: left;
        width: auto;
        padding:0;
        font-size: 20px;
        margin-right: 100px;
        margin-bottom: 20px;
        margin-top: 0;
        margin-left: 0;
        color: #FFFF;
}
    
.nome{
        text-align: center;
        font-size:40px;
}
    
.bio {
        font-size: 20px;    
}
    
#menu img{
        float: right;
}
    
#menu {
     text-align: left;
     font-size: 80px;
     background-color: black;
}
    
