body{
   
    background: url(imagens/Lanister\ Lion.png);
    background-size: 100%;
    background-attachment: scroll;
    background-color: rgb(61, 60, 60);
    
     }
        
     
  
     
   p{
            font-family: 'Luxurious Roman', cursive;
            color:rgb(255, 255, 255)
    }
          
        .linha img {
            float: left;
        }
          
        .linha p {
            text-align: center;
            margin: 0;
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
            font-family: 'UnifrakturCook', cursive;
            font-size: 50px;
        }
        
    #titulo img {
            margin-top: 20px;
            margin-right: 150px;
            margin-left: 0;
            float: right;
    }
        
    #titulo h2 {
            text-align: 0;
            margin-right: 200;
            margin-bottom: 200;
            margin-top: 100;
            margin-left: 120px;
            color: rgb(255, 255, 255);
            font-family: 'UnifrakturCook', cursive;
            font-size: 100px;
            
            }
     #apresentacao h3 {
        text-align: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0px;
        margin-left: 1250px;
        color: rgb(255, 255, 255);
        font-family: 'UnifrakturCook', cursive;
        font-size: 80px;



     }      
        
     #apresentacao img {
            float: right;
            margin-left: 40px;
            margin-right: 0;
            margin-bottom: 30px;
            margin-top: 0;
    }
        
    #apresentacao p {
            text-align: left;
            width: auto;
            padding:0;
            font-size: 20px;
            margin-right: 700px;
            margin-bottom: 20px;
            margin-top: 0;
            margin-left: 0;
            color: #ffffff;
    }
        
    .nome{
            text-align: center;
            font-size:40px;
    }
        
    .bio {
            font-size: 20px;    
    }
        
    #menu img{
            float: right;
    }
        
    #menu {
         text-align: left;
         font-size: 80px;
         background-color: black;
    }