body{
    background-color: #201F1F;
    color: #FFFFFF;
    font-family: 'Saira Semi Condensed', sans-serif;
    }

#apresentacao {
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(imagens/logoIronThrone.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

#introText {
    width:400px;
    padding:10px;
    font-size: 20px;
}

#mainTitle{
    font-size: 120px;
    font-family: 'UnifrakturCook', cursive;
    text-align: center;
}

p{
    font-size: 100px;
}

#casas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
p{ 
    font-size: 20px;
    width:400px;
    padding:10px;
}
#infoWW {
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url(imagens/whiteWalkerDragon.jpg);
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}
